gunicorn==23.0.0
uvicorn==0.23.2
fastapi==0.109.1
alembic==1.12.0
pgvector==0.2.5
psycopg2==2.9.9
asyncpg==0.28.0
litellm==1.61.15
sqlalchemy[asyncio]==2.0.20
PyPDF2==3.0.1
python-multipart==0.0.18
pyjwt[crypto]==2.8.0
prometheus_client==0.19.0
google-api-python-client==2.129.0
google-api-python-client-stubs==1.25.0
langfuse==2.42.1
pandas==2.2.2
pandas-stubs==2.2.2.240603
types-openpyxl==3.1.4.20240621
redis==5.0.8
python-dateutil==2.8.2
bertopic==0.16.3
google-cloud-storage==2.18.2
google-cloud-texttospeech==2.16.5
google-cloud-speech==2.27.0
pydub==0.25.1
sentence-transformers==3.0.1
transformers==4.50.3
scikit-learn==1.5.1
bokeh==3.5.1
faster-whisper==1.0.3
sentry-sdk[fastapi]==2.17.0
dotmap==1.3.30
termcolor==2.5.0
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.41
langchain-text-splitters==0.3.6
mistralai==1.6.0
