gunicorn==22.0.0
uvicorn==0.23.2
fastapi==0.109.1
alembic==1.12.0
pgvector==0.2.5
psycopg2==2.9.9
asyncpg==0.28.0
litellm==1.40.29
sqlalchemy[asyncio]==2.0.20
python-multipart==0.0.7
pyjwt[crypto]==2.8.0
prometheus_client==0.19.0
google-api-python-client==2.129.0
google-api-python-client-stubs==1.25.0
langfuse==2.42.1
pandas==2.2.2
pandas-stubs==2.2.2.240603
types-openpyxl==3.1.4.20240621
redis==5.0.8
python-dateutil==2.8.2
gTTS==2.5.1
