/* CardPage.css */
.card-page {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    border: 1px solid gray;
    padding: 1rem;
    width: 200px;
    position: relative;
}

.add-card {
    width: 200px;
    height: 200px;
    font-size: 2rem;
    cursor: pointer;
    background-color: lightgray;
}

.label {
    background-color: #eee;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    display: inline-block;
    margin-right: 0.5em;
    font-size: 0.8rem;
}
