{$DOMAIN:localhost} {
    handle_path /api/* {
        reverse_proxy backend.{$PROJECT_NAME}-{$ENV}.local:8000
    }

    handle {
        reverse_proxy frontend.{$PROJECT_NAME}-{$ENV}.local:3000
    }
}
