name: Deploy Docs
on:
  workflow_dispatch:
  release:
    types: [released]

permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material==9.5.3 \
          pymdown-extensions==10.3 \
          mkdocs-glightbox==0.3.4 \
          mkdocs-material-extensions==1.3.1 \
          mkdocs-open-in-new-tab==1.0.3 \
          mike==2.1.2
      - run: |
          mike set-default --push latest
          mike deploy --push --update-aliases ${{ github.ref_name }} latest
